language: python
python:
  - "3.8"
before_install:
  - python --version
  - pip install -U pip
  - pip install codecov
  - pip ins
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - python -m unittest # run tests
after_success:
  - codecov # submit coverage
